workflows/0vqwaC9FBJtckqyQ.json
{
  "active": false,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Perplexity - Blog Topic Research Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Search Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity - Blog Topic Research Node": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Perplexity - Blog Topic Research Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-29T15:38:58.346Z",
  "id": "0vqwaC9FBJtckqyQ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "📰 AI Blog Post Journalist",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "e602abcc-a6c9-4c2e-af34-5306befd0064",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1080,
        -120
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "=Research on the latest AI news that will be interesting to blog about. Choose and return only the most interesting news for the blog intended for non-technical audience trying to learn more about AI."
            }
          ]
        },
        "options": {
          "searchRecency": "week"
        },
        "requestOptions": {}
      },
      "id": "935cce8d-7451-4240-a7f6-6fa68a7f83ee",
      "name": "Perplexity - Blog Topic Research Node",
      "type": "n8n-nodes-base.perplexity",
      "position": [
        1360,
        -20
      ],
      "typeVersion": 1,
      "credentials": {
        "perplexityApi": {
          "id": "NOnePeC9DASTvAIe",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.choices[0].message.content }}",
        "options": {
          "systemMessage": "=You are a professional blog content writer for a tech news site that translates the latest AI breakthroughs and developments into engaging, non-technical blog posts.\n\nYour task is to write a clear, captivating, and SEO-optimized blog post based on the latest AI topic provided by the previous node (Perplexity AI Search output). The post should be easy to understand by general readers with no technical background, while still sounding informed, current, and exciting.\n\nINSTRUCTIONS:\n\nAudience: General readers, professionals, and business folks curious about AI—but not developers or engineers.\n\nTone & Style:\n\nFriendly, conversational, curious\n\nNot clickbait, but exciting and easy to read\n\nAvoid jargon unless necessary, and always explain it simply\n\nUse storytelling or a real-world metaphor/example when possible\n\nFormat:\n\nTitle (must include primary keywords related to the topic)\n\n1-paragraph Hook/Intro (make the reader want to read on)\n\n3–5 short sections with headers\n\nFinal Takeaway / What this means for the average reader\n\nSEO Meta Description (max 155 characters)\n\nInclude 3–5 SEO keywords naturally in the body\n\nUse bullet points or bolding to improve skimmability\n\nRules:\n\nDo not fabricate facts.\n\nIf additional context is needed, call the Perplexity Search Tool for clarification\n\nDo not overuse buzzwords or technical terms—explain them simply if used\n\nKeep paragraphs short and engaging\n\nExample Topics This Prompt Can Work For:\n\n“How Apple is using AI in its new products”\n\n“Why the EU is regulating AI and what it means for us”\n\n“OpenAI’s latest model and what it can do for small businesses”\n\n# [Catchy SEO Blog Title with Keyword]\n\n*[Optional Subtitle for clarity]*\n\n**Intro:**  \n[Compelling hook paragraph that introduces the topic with relevance and clarity.]\n\n## [Subheading 1]\n[Explain one key point from the research, in a simple, friendly way.]\n\n## [Subheading 2]\n[Another key aspect, ideally with a metaphor, stat, or quote.]\n\n## [Subheading 3]\n[Implications, opportunities, or what to look out for.]\n\n**Takeaway:**  \n[A 2–3 sentence wrap-up telling readers what they should remember or what action they might take.]\n\n**Meta Description:**  \n[Short, SEO-focused summary of the blog post. Max 155 characters.]\n\n**SEO Keywords:**  \n[Include a few relevant SEO keywords you naturally used in the blog.]\n"
        }
      },
      "id": "516c0431-cc76-4db9-aa4a-4d4da5b8e31a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1720,
        -20
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Perplexity - Blog Topic Research Node').item.json.id }}"
      },
      "id": "33933257-067f-40ef-8ca4-25ac5f7d6faa",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1800,
        180
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "simplify": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify_Output', ``, 'boolean') }}",
        "options": {},
        "requestOptions": {}
      },
      "id": "94bd6b51-b47e-442f-85d1-5f7c1ccd3e81",
      "name": "Perplexity Search Tool",
      "type": "n8n-nodes-base.perplexityTool",
      "position": [
        1960,
        180
      ],
      "typeVersion": 1,
      "credentials": {
        "perplexityApi": {
          "id": "NOnePeC9DASTvAIe",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "content": "Schedule Trigger",
        "height": 600,
        "width": 260
      },
      "id": "eec98af7-483d-465d-8840-3421d2417698",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1000,
        -220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Schedule Trigger",
        "height": 600,
        "width": 300,
        "color": 3
      },
      "id": "f9b22818-c69e-4430-9732-06e8663ab955",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        -220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Schedule Trigger",
        "height": 600,
        "width": 500,
        "color": 5
      },
      "id": "42021967-2d24-4e24-979b-e93927093ea5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        -220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Schedule Trigger",
        "height": 600,
        "width": 300,
        "color": 6
      },
      "id": "0b6cd379-f806-476c-9d55-bc6a3ed3ef45",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2120,
        -220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "🧠 AI-Powered Blog Post Generator\nCategory: Content Automation / AI Writing / Marketing\n\nDescription:\nThis automated workflow helps you generate fresh, SEO-optimized blog posts daily using AI tools—perfect for solo creators, marketers, and content teams looking to stay on top of the latest AI trends without manual research or writing.\n\nFor more of this build and step-by-step tutorials, check out:\nhttps://www.youtube.com/@Automatewithmarc\n\nHere’s how it works:\n\nSchedule Trigger kicks off the workflow daily (or at your preferred interval).\n\nPerplexity AI Node researches the most interesting recent AI news tailored for a non-technical audience.\n\nAI Agent (Claude via Anthropic) turns that news into a full-length blog post based on a structured prompt that includes title, intro, 3+ section headers, takeaway, and meta description—designed for clarity, engagement, and SEO.\n\nOptional Memory & Perplexity Tool Nodes enhance the agent's responses by allowing it to clarify facts or fetch more context.\n\nGoogle Docs Node automatically saves the final blog post to your selected document—ready for review, scheduling, or publishing.\n\nKey Features:\n\nCombines Perplexity AI + Claude AI (Anthropic) for research + writing\n\nBuilt-in memory and retrieval logic for deeper contextual accuracy\n\nNon-technical, friendly writing style ideal for general audiences\n\nOutput saved directly to Google Docs\n\nFully no-code, customizable, and extendable\n\nUse Cases:\n\nAutomate weekly blog content for your newsletter or site\n\nRepurpose content into social posts or scripts\n\nKeep your brand relevant in the fast-moving AI landscape\n\nSetup Requirements:\n\nPerplexity API Key\n\nAnthropic API Key\n\nGoogle Docs (OAuth2 connected)",
        "height": 1020,
        "width": 620
      },
      "id": "6ea8f520-82a9-4dea-adca-812981aa1391",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        -220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1680,
        180
      ],
      "id": "283ca497-901f-4be8-bc11-072bb9de3d40",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9MJ1ZDhJNTFHTIFm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1080,
        60
      ],
      "id": "7a96efcd-0e16-4bf0-9b8f-7ffbae86358b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1ux0r7sgDZetXwqyjf8_CycPgLK_LiwBuRyc3yQDTrA4",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "id": "46fa542e-b297-407c-bb75-d8ae796aca49",
      "name": "Update a document",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        2220,
        -20
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "g2i17BlQX2CV8pcS",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-10T14:51:39.000Z",
  "versionId": "7a66ee3b-84b6-4945-ad04-bbd183f885bd"
}