workflows/es12HNzL6JmBQzq0.json
{
  "active": false,
  "connections": {
    "Loop over Items 1": {
      "main": [
        [
          {
            "node": "Result1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add param1 to output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over Items 2": {
      "main": [
        [
          {
            "node": "Result2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait one second(just for show)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add param1 to output1": {
      "main": [
        [
          {
            "node": "Loop over Items 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add param1 to output2": {
      "main": [
        [
          {
            "node": "Loop over Items 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add param1 to output3": {
      "main": [
        [
          {
            "node": "Result3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add param1 to output4": {
      "main": [
        [
          {
            "node": "Result4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add param1 to output5": {
      "main": [
        [
          {
            "node": "Result5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paste JSON into this node": {
      "main": [
        [
          {
            "node": "Split Array of Strings into Array of Objects",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add param1 to output5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop over Items 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait one second(just for show)": {
      "main": [
        [
          {
            "node": "Add param1 to output2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Array of Strings into Array of Objects": {
      "main": [
        [
          {
            "node": "Loop over Items 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add param1 to output4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add param1 to output3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-06T14:18:47.813Z",
  "id": "es12HNzL6JmBQzq0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Looping over Items",
  "nodes": [
    {
      "parameters": {},
      "id": "f3dfea02-098f-411b-84ed-3115fd44011e",
      "name": "Result1",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1860,
        500
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "notes": "Look Here to see resulting output"
    },
    {
      "parameters": {},
      "id": "5f4aceac-5b7d-4027-b7c7-0e770a90bec4",
      "name": "Result2",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1860,
        820
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "notes": "Look here to see resulting output"
    },
    {
      "parameters": {
        "content": "\n### Result1 shows that the array of strings is seen as one item by Loop1",
        "height": 240,
        "width": 320,
        "color": 3
      },
      "id": "cc94ac47-4a7b-4ef9-adf8-956dca3231f9",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1780,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Result2 shows that the Loop2 sees 5 items after the array of strings is split into separate objects",
        "height": 260,
        "width": 320,
        "color": 3
      },
      "id": "24d7420a-e0dc-42b9-8d6e-11de006def21",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1780,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# N8N for Beginners: Looping Over Items\n\n## Description\n\nThis workflow is designed for **n8n beginners** to understand how n8n handles **looping (iteration)** over multiple items. It highlights two key behaviors:\n\n- **Built-In Looping:** By default, most n8n nodes iterate over each item in an input array.\n- **Explicit Looping:** The **Loop Over Items** node allows controlled iteration, enabling **custom batch processing** and multi-step workflows.\n\nThis workflow demonstrates the difference between processing an **unsplit array of strings (single item)** vs. **a split array (multiple items)**.\n\n---\n\n## Setup\n\n### 1. Input Data\n\nTo begin, **paste the following JSON** into the **Manual Trigger** node:\n\n```json\n{\n  \"urls\": [\n    \"https://www.reddit.com\",\n    \"https://www.n8n.io/\",\n    \"https://n8n.io/\",\n    \"https://supabase.com/\",\n    \"https://duckduckgo.com/\"\n  ]\n}\n```\n\n📌 **Steps to Paste Data:**\n- **Double-click** the \"Manual Trigger\" node.\n- Click **\"Edit Output\"** (top-right corner).\n- Paste the JSON and **Save**.\n- The node **turns purple**, indicating that test data is pinned. \n\n---\n\n## Explanation of the n8n Nodes in the Workflow\n\n### Manual Trigger  \nThis node starts the workflow manually and sends test data.  \n**Documentation:** [Manual Trigger Node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.manualtrigger/)\n\n### Split Out (Split Array of Strings into Array of Objects)  \nExtracts the `urls` array and splits it so that each URL becomes a separate JSON object.  \n**Documentation:** [Split Out Node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitout/)\n\n### Loop Over Items (Loop Over Items 1)  \nDemonstrates how an **unsplit** array is treated as one item, processing it as a single unit.  \n**Documentation:** [Loop Over Items Node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitinbatches/)\n\n### Loop Over Items (Loop Over Items 2)  \nProcesses the **split array** one item at a time. This demonstrates individual iteration and controlled looping.  \n**Documentation:** [Loop Over Items Node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitinbatches/)\n\n### Wait Node  \nIntroduces a **1-second delay** per iteration to demonstrate sequential execution. This can be removed for faster performance.  \n**Documentation:** [Wait Node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.wait/)\n\n### Code Nodes (Add param1 to outputX)  \nEach Code node adds a constant field (`param1`) to the data, ensuring that every item gets enriched with the same parameter.  \n**Documentation:** [Code Node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/)\n\n### NoOp Nodes (Result1, Result2, Result3, Result4, Result5)\nThese nodes display the output at different stages of the workflow for inspection.\n**Documentation:** [NoOp Node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.noop/)\n\n\n\n---\n\n## Execution Details\n\n### 1. How the Workflow Runs\n\n- **Manual Trigger starts execution** with the pasted JSON data.\n- The workflow follows **two paths**:\n\n#### Unsplit Array Path → Loop Over Items 1  \n- The original JSON is processed **as a single item**.  \n- **Result1 & Result5:** Show that the array was **not split** before processing.\n\n#### Split Array Path → Split Out → Loop Over Items 2  \n- The **Split Out** node converts the `urls` array into separate objects.\n- The **Loop Over Items 2** node processes each URL **one by one**.\n- A **Wait node** (1-second delay) demonstrates **controlled execution**.\n- **Code nodes** modify the JSON, adding the field (`param1`).\n- **Result2, Result3, Result4:** Display the final processed output.\n\n### 2. What You Will See\n\n- **Result1 & Result5:** The entire array is processed **as one item** before splitting.\n- **Result2, Result3, Result4:** Each URL is processed **individually** after being split.\n- **Wait Node:** Adds a **1-second delay per item** in **Loop Over Items 2**.\n\n---\n\n## Notes\n\n- Sticky notes are included in the workflow **for easy reference**.\n- The **Wait node** is **optional**—remove it for faster execution.\n- This template is structured for **beginners** but serves as a **building block** for more advanced automations.\n\n---\n\n",
        "height": 2480,
        "width": 1200
      },
      "id": "730b062a-2c56-4b1f-9c6a-85a48b169512",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -700,
        -320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {
          "destinationFieldName": "url"
        }
      },
      "id": "c26ef2af-3e6e-42dd-a781-dbfc48c551be",
      "name": "Split Array of Strings into Array of Objects",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        960,
        1160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Result4 shows that we can turn off the looping feature by setting the looping behavior to \"Run Once For All Items\"",
        "height": 260,
        "width": 320,
        "color": 3
      },
      "id": "94a6ea1c-0ac0-4e7f-aac6-a8610fe90eb1",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1780,
        1480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Result3 shows that looping over items is built in to n8n nodes",
        "height": 240,
        "width": 320,
        "color": 3
      },
      "id": "e253fc1b-13f1-48d4-99b5-dd7ec24c4dc9",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1780,
        1200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "bf04cb8a-bdef-46e4-a248-a2aa4962883d",
      "name": "Result3",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1880,
        1280
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "notes": "Look here to see resulting output"
    },
    {
      "parameters": {},
      "id": "b56f0cc2-396b-495c-ae6a-810e1644b176",
      "name": "Result4",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1880,
        1560
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "notes": "Look here to see resulting output"
    },
    {
      "parameters": {
        "content": "### Result5 shows that the array of strings is seen as one item by Code5. So the behavior is the same as Loop1",
        "height": 260,
        "width": 320,
        "color": 3
      },
      "id": "572cf93c-237e-4c6c-ae43-0cbe888ca18b",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1780,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "71b5d4cb-5ccc-492f-8d14-85174755a252",
      "name": "Result5",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1860,
        240
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "notes": "Look here to see resulting output"
    },
    {
      "parameters": {},
      "id": "b0ac18f2-029e-4c6f-8e07-7b6b9ce2a42a",
      "name": "Paste JSON into this node",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        580,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "\n  $json.param1 =  'add_me_to_all_items_and_name_me_param1';\n\n\nreturn $json"
      },
      "id": "89818772-b73e-41aa-b7b8-ae480773a035",
      "name": "Add param1 to output5",
      "type": "n8n-nodes-base.code",
      "position": [
        1300,
        240
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\n  $json.param1 = \"add_me_to_all_items_and_name_me_param1\"\n\nreturn $json"
      },
      "id": "dc70a231-4aec-4f74-9d3d-8c23054df84f",
      "name": "Add param1 to output1",
      "type": "n8n-nodes-base.code",
      "position": [
        1480,
        600
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "27f8433f-1afb-46ae-b0a5-247117f1d44d",
      "name": "Loop over Items 2",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1300,
        840
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "4bb776e5-2b77-498c-bd9e-93c5a64a1599",
      "name": "Loop over Items 1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1300,
        520
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\n  $json.param1 =   \"add_me_to_all_items_and_name_me_param1\"\n\n\nreturn $json"
      },
      "id": "f5fd4332-d325-401f-a5d6-d50f52c1a767",
      "name": "Add param1 to output2",
      "type": "n8n-nodes-base.code",
      "position": [
        1660,
        1000
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\n  $json.param1 =   \"add_me_to_all_items_and_name_me_param1\"\n\n\nreturn $json"
      },
      "id": "ce4bd0d2-d0de-4f28-9973-2026adf8ec41",
      "name": "Add param1 to output3",
      "type": "n8n-nodes-base.code",
      "position": [
        1300,
        1280
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\n  $json.param1 =   \"add_me_to_all_items_and_name_me_param1\"\n\n\nreturn $json"
      },
      "id": "25d552fd-89b6-44f7-bde3-b7b50396a806",
      "name": "Add param1 to output4",
      "type": "n8n-nodes-base.code",
      "position": [
        1300,
        1560
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "de1a6ff7-9a73-4a7c-9e02-b9266138e220",
      "name": "Wait one second(just for show)",
      "type": "n8n-nodes-base.wait",
      "position": [
        1460,
        960
      ],
      "webhookId": "61aef80b-4e9d-43ae-a083-cd87b4fdec11",
      "typeVersion": 1.1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-06T14:19:51.000Z",
  "versionId": "a2031d55-2f20-40a8-ba6b-8d1c7e8ac539"
}