workflows/l73Y2LMkTCjF3rGD.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-17T21:50:28.657Z",
  "id": "l73Y2LMkTCjF3rGD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Airtable test",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -60
      ],
      "id": "d986b497-0ba6-44fa-9288-ae477fb51bdf",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appjdPfiavD1IqEjb",
          "mode": "list",
          "cachedResultName": "contacts-short",
          "cachedResultUrl": "https://airtable.com/appjdPfiavD1IqEjb"
        },
        "table": {
          "__rl": true,
          "value": "tbl0BFrozTWGgJdBZ",
          "mode": "list",
          "cachedResultName": "contact table",
          "cachedResultUrl": "https://airtable.com/appjdPfiavD1IqEjb/tbl0BFrozTWGgJdBZ"
        },
        "filterByFormula": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        220,
        -160
      ],
      "id": "c073c2f2-ed57-4e78-8f37-cacd41b53454",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "sDzEwkAhHPkRTsJT",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b23a7ce8-523c-48e0-9ef6-e775cd8e2526",
              "leftValue": "={{ $json['Last Name'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "1fda5cb4-a4fa-4f76-8889-83151dbf99d8",
              "leftValue": "={{ $json['E-mail 1 - Value'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        440,
        -160
      ],
      "id": "95b4400f-1536-44c5-a7f9-56da280b4d8f",
      "name": "Filter"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RcRdPFLcrvakKBPhCAcsCxbZBZvAV2L2JWPyVvzmBFA",
          "mode": "list",
          "cachedResultName": "demo-table",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RcRdPFLcrvakKBPhCAcsCxbZBZvAV2L2JWPyVvzmBFA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RcRdPFLcrvakKBPhCAcsCxbZBZvAV2L2JWPyVvzmBFA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        40
      ],
      "id": "088b6870-56fb-44e8-b0dc-17c05ec3684a",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yGrwAhpYRJROnOS2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        440,
        40
      ],
      "id": "35e7ad70-fa7c-4f11-bca6-a2209bdb83c3",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-19T15:19:51.000Z",
  "versionId": "94cf66ba-0c1f-441d-b3e3-9c8f649ae26f"
}