workflows/v4fqZlq20LukDhbe.json
{
  "active": false,
  "connections": {
    "AI Agent": {
      "main": [
        []
      ]
    },
    "User inputs": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-30T21:17:06.677Z",
  "id": "v4fqZlq20LukDhbe",
  "isArchived": false,
  "meta": null,
  "name": "Improve AI Agent System Prompts with GPT-4o Feedback Analysis",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Agent Prompt Tuner",
        "formDescription": "Enhances autonomous agent system prompts based on user provided descriptions of behavior and examples ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Agent Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Agent Purpose",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "What's Working?",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "What's Not Working?",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Current System Prompt",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Sample Input (Prompt)",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Example Output",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {
          "buttonLabel": "Send For Evaluation"
        }
      },
      "id": "7245955b-916c-47f1-9365-0cd57db76f26",
      "name": "User inputs",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -580,
        20
      ],
      "webhookId": "cb20401c-ade4-45ce-912e-15956449ca3d",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the information for your analysis:\n\nAgent Name: {{ $json['Agent Name'] }}\n\nAgent Purpose: {{ $json['Agent Purpose'] }}\n\nCurrent System Prompt: {{ $json['Current System Prompt'] }}\n\nHere is how I would evaluate its current performance.\n\nThis is working well: {{ $json['What\\'s Working?'] }}\n\nThis is what's going wrong: {{ $json['What\\'s Not Working?'] }}\n\nHere's an examlple of a prompt I wrote and the output I received. If the following section is blank, please disregard it. Otherwise, consider it in your evaluation:\n\nSample prompt: {{ $json['Sample Input (Prompt)'] }}\n\nThe prompt generated the following output:\n\n{{ $json['Example Output'] }}\n\n\nPlease generate the improved system prompt ensuring that your response adheres to the JSON formatting instruction.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert AI prompt engineer. \n\nYour task is to receive a set of observations about how a specific AI agent is performing. These observations include:\n\n* The name of the AI agent\n* A short description of the agent's intended purpose\n* A description of what *is* working well\n* A description of what *is not* working as expected\n* (Optionally) An example output from the current version of the agent\n\nUsing this information, your task is to analyze the shortcomings or gaps in the agent's behavior and generate a revised, full **system prompt** intended to improve its performance and address the identified issues.\n\nYour response should be in **JSON** format with the following fields:\n\n```json\n{\n  \"updated_system_prompt\": \"The full improved system prompt, rewritten from scratch or as a modification of the implied original\",\n  \"summary_of_improvements\": \"A short explanation of what was changed or improved and why\"\n}\n```\n\nYou must:\n\n* Use clear and specific instructions in the new system prompt.\n* Preserve functionality that is working well.\n* Directly address behaviors that need correction.\n* Avoid vague language and ensure the new prompt is actionable and well-structured.\n\nDo not include any commentary outside the JSON response."
        }
      },
      "id": "b14ea99a-3e3f-4110-8bb3-ce88171325c9",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -360,
        20
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "9a888210-8bdc-4e82-93ae-6b3f10ca81ab",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -500,
        220
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "ZofliNVc6SuIgvhO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"updated_system_prompt\": \"The full improved system prompt, rewritten from scratch or as a modification of the implied original\",\n  \"summary_of_improvements\": \"A short explanation of what was changed or improved and why\"\n}"
      },
      "id": "77e2a414-7f26-4729-93d6-698ad0cc537b",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -200,
        240
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "sendTo": "user@example.com",
        "subject": "=Improved prompt for: {{ $('User inputs').item.json['Agent Name'] }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>AI System Prompt Improvement Notification</title>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; background-color: #f9f9f9; padding: 20px; }\n    .container { background-color: #ffffff; border-radius: 8px; padding: 24px; max-width: 700px; margin: auto; box-shadow: 0 0 10px rgba(0,0,0,0.05); }\n    h2 { color: #2c3e50; border-bottom: 1px solid #ddd; padding-bottom: 4px; }\n    pre { background-color: #f4f4f4; padding: 12px; border-radius: 4px; overflow-x: auto; font-family: monospace; }\n    .footer { margin-top: 30px; font-size: 0.9em; color: #777; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <p>Hi there!</p>\n    <p>You asked the <strong>AI System Prompt Improvement Agent</strong> to review the system prompt for <strong>{{ $('User inputs').item.json['Agent Name'] }}</strong>.</p>\n    <h2>✅ Recommended Updated System Prompt</h2>\n    <pre>{{ $json.output.updated_system_prompt }}</pre>\n    <h2>📄 Original System Prompt</h2>\n    <pre>{{ $('User inputs').item.json['Current System Prompt'] }}</pre>\n    <h2>✏️ Summary of Improvements</h2>\n    <p>{{ $json.output.summary_of_improvements }}</p>\n    <div class=\"footer\">\n      Regards,<br>\n      <strong>AI Improvement Agent</strong>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "8b60c0bb-d331-4bf9-ba3a-5aabfc89db84",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        20,
        20
      ],
      "webhookId": "aa0e272c-96f6-465d-9f3c-555851974937",
      "typeVersion": 2.1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-30T21:46:05.000Z",
  "versionId": "9c9f9af0-1957-4792-8922-3c836abd5811"
}