workflows/zGAVjTL8Fbf5o4fQ.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Wait for Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Response": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-31T17:10:52.802Z",
  "id": "zGAVjTL8Fbf5o4fQ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Telegram-Msg copy",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        80
      ],
      "id": "a2b46c04-eec8-4702-a005-46163d5360dd",
      "name": "Telegram Trigger",
      "webhookId": "5e2da883-26d9-41b7-af7a-0e540a3086c9",
      "credentials": {
        "telegramApi": {
          "id": "gWrzPJFYKGNQEjUn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text ?? $json.text}}",
        "options": {
          "systemMessage": "=You are a helpful assistant. Respond in friendly text with text only not JSON format\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1100,
        80
      ],
      "id": "83dc390c-cc7d-4689-a417-572266ced384",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1128,
        300
      ],
      "id": "31fdb8ae-68be-4c98-93fa-e3e9dbf0a9fb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9MJ1ZDhJNTFHTIFm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1248,
        300
      ],
      "id": "38c22458-714e-4927-b11e-ac1f6ee53f6b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1696,
        180
      ],
      "id": "53a15801-808c-471f-90bb-350f3433b58f",
      "name": "Telegram",
      "webhookId": "75ca9916-44b2-4ba2-b8dc-178a03f33e6d",
      "credentials": {
        "telegramApi": {
          "id": "gWrzPJFYKGNQEjUn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Sure, one moment...",
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        220,
        80
      ],
      "id": "333d386e-1b68-461b-9233-c1b87fc6f809",
      "name": "Wait for Response",
      "webhookId": "5b8b1e99-f2c6-489d-b34b-f3453e5bff05",
      "credentials": {
        "telegramApi": {
          "id": "gWrzPJFYKGNQEjUn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result.reply_to_message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "4c2f1dc0-130d-462a-a5b2-ae838e76f58f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "53b45a40-c0f5-4b22-ab05-3805197129dd",
                    "leftValue": "={{ $json.result.reply_to_message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        80
      ],
      "id": "fe762414-348d-4255-ac05-a0f2b05effab",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.result.reply_to_message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        155
      ],
      "id": "4e6ade8f-e2cf-44ae-91b0-8a49d3e0eeee",
      "name": "Telegram1",
      "webhookId": "cefde8a6-2a92-41bc-93dc-2ed9342ff37b",
      "credentials": {
        "telegramApi": {
          "id": "gWrzPJFYKGNQEjUn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        155
      ],
      "id": "ec584f68-f0c8-4720-aadd-77d4e5a81e25",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ZofliNVc6SuIgvhO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "options": {
          "response_format": "opus"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1696,
        -20
      ],
      "id": "d51af442-2ed7-4071-b992-e283c3c46109",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ZofliNVc6SuIgvhO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Switch').item.json.result.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "reply_to_message_id": "={{ $('Switch').item.json.result.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1916,
        -20
      ],
      "id": "82ff4e54-2282-41f6-9dcb-028bdbfea48b",
      "name": "Telegram2",
      "webhookId": "e62a2638-d7ad-4780-babd-234d7284e9f4",
      "credentials": {
        "telegramApi": {
          "id": "gWrzPJFYKGNQEjUn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0019a9fd-1f88-4b08-9ec4-5739fe045c52",
              "leftValue": "={{ $('Switch').item.json.result.reply_to_message.voice.mime_type }}",
              "rightValue": "=audio",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1476,
        80
      ],
      "id": "23e7e14a-567d-4b36-8dfe-4ab4b36788c3",
      "name": "If"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-31T19:18:06.000Z",
  "versionId": "90cf2aa8-8ab7-4c04-ad48-4d9d34432533"
}