workflows/Summarizer/oOo2j4umCHfQ1MM9.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Translate a language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Article": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Translate a language": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-08T14:21:31.443Z",
  "id": "oOo2j4umCHfQ1MM9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Summarize any Article copy",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -500,
        0
      ],
      "id": "5d862145-baf1-47b4-9bd7-50b8b551b02e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional writer who is skilled at summarizing news articles. I want you to summarize the article in an engaging way and extract a headline from the article as described in the article. Provide an excellent summary of this article so that it can be posted on Twitter (240 characters) max.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        180,
        0
      ],
      "id": "8f3beed8-bd91-458e-ab51-7a4da8ec6561",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/2025/06/28/meta-reportedly-hires-four-more-researchers-from-openai/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        0
      ],
      "id": "2d72a815-7334-4a36-a40c-45c8ff0210cc",
      "name": "Get Article"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -40,
        0
      ],
      "id": "c0ab1a74-bce4-4a06-a7dc-9d2da24c1516",
      "name": "Markdown"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Headline\": \"Meta reportedly hires four more researchers from OpenAI\",\n\t\"Summary\": \"Meta has reportedly hired four additional researchers from OpenAI — Shengjia Zhao, Jiahui Yu, Shuchao Bi, and Hongyu Ren — following earlier reports of hiring Trapit Bansal and three others.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        380,
        240
      ],
      "id": "f5161638-972c-4740-b784-7993c6f4de9b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "text": "={{ $json.output.Summary }}",
        "translateTo": "AR",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "id": "1b73b4ce-98fe-48c1-96d0-b76807a69d8d",
      "name": "Translate a language",
      "credentials": {
        "deepLApi": {
          "id": "TSPaBMhQSCVFk9Kw",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        240
      ],
      "id": "77b44476-25a6-415b-8423-7d2d3297b385",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZofliNVc6SuIgvhO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        820,
        0
      ],
      "id": "bae58e0d-67ef-4bbd-8bdf-0cb34dabd77d",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "AGBnDbnwHRbmhInR",
          "name": "X account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-08T14:21:19.867Z",
      "updatedAt": "2025-07-08T14:21:19.867Z",
      "id": "UxrOc2IcZFtZTbwg",
      "name": "Summarizer"
    },
    {
      "createdAt": "2025-07-08T14:21:05.418Z",
      "updatedAt": "2025-07-08T14:21:05.418Z",
      "id": "swHgjGppQrFCewE0",
      "name": "News"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-11T16:49:57.000Z",
  "versionId": "1aa8bf6c-d1a2-424d-a086-3b3a706ac4ea"
}